/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/notes/filter/@sidebar/SidebarNotes.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.SidebarNotes_menuList__Yhyla {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.SidebarNotes_menuItem__cns9_ {
  margin-bottom: 16px;
}

.SidebarNotes_menuLink__EGPS_ {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.SidebarNotes_menuLink__EGPS_:hover {
  background-color: #444;
  color: #ddd;
}
